<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="pageTitle">
      Tripolis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title id="name">
      <ion-item >
      <h1>{{providers[0].name}}</h1></ion-item>
      </ion-card-title>
    <ion-card-content>
      <ion-label>Opening hours: </ion-label>
      <ion-label id="opH">{{providers[0].opH}}</ion-label><br>
      <ion-label>Phone Nr.: </ion-label>
      <ion-label id="phone">{{providers[0].phone}}</ion-label><br>
      <ion-label>Adresse: </ion-label>
      <ion-label id="adr">{{providers[0].adresse}}</ion-label><br>
    </ion-card-content>
    <ion-toolbar end>
    <ion-buttons class='toolbar' right> 
      <a button href="tel:021-7225549" target="_system">
      <ion-button >
        <ion-icon name='call'></ion-icon>
      </ion-button></a>
        <ion-button (click)="alert()">
        <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
      </ion-button>
      <a href="geo:32.852947,13.152813" target="_system">
      <ion-button  >
        <ion-icon name='pin'></ion-icon>
      </ion-button></a>
      <a href="/alert-prices">
      <ion-button>
          <ion-icon name='logo-usd'></ion-icon>
        </ion-button></a>
    </ion-buttons></ion-toolbar>
  </ion-card>

  <ion-card>
    <ion-card-title id="name">
        <ion-item >
            <h1>{{providers[1].name}}</h1>
          </ion-item>
            </ion-card-title>
    <ion-card-content>
      <ion-label>Opening hours: </ion-label>
      <ion-label id="opH">{{providers[1].opH}}</ion-label><br>
      <ion-label>Phone Nr.: </ion-label>
      <ion-label id="phone"> {{providers[1].phone}}</ion-label><br>
      <ion-label>Adresse: </ion-label>
      <ion-label id="adr">{{providers[1].adresse}}</ion-label><br>
    </ion-card-content>
    <ion-toolbar end>
    <ion-buttons class='toolbar' right> 
      <a button href="tel:0913731336" target="_system">
      <ion-button >
        <ion-icon name='call'></ion-icon>
      </ion-button></a>
      <ion-button (click)="alert()">
        <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
      </ion-button>
      <a href="geo:32.870135,13.133123" target="_system">
      <ion-button  >
        <ion-icon name='pin'></ion-icon>
      </ion-button></a>
      <a href="/alert-prices">
      <ion-button>
          <ion-icon name='logo-usd'></ion-icon>
        </ion-button></a>
    </ion-buttons></ion-toolbar>
  </ion-card>

  <ion-card>
      <ion-card-title id="name">
          <ion-item >
              <h1>{{providers[2].name}}</h1></ion-item>
              </ion-card-title>
      <ion-card-content>
        <ion-label>Opening hours: </ion-label>
        <ion-label id="opH">{{providers[2].opH}}</ion-label><br>
        <ion-label>Phone Nr.: </ion-label>
        <ion-label id="phone"> {{providers[2].phone}}</ion-label><br>
        <ion-label>Adresse: </ion-label>
        <ion-label id="adr">{{providers[2].adresse}}</ion-label><br>
      </ion-card-content>
      <ion-toolbar end>
      <ion-buttons class='toolbar' right> 
        <a button href="tel:0217134444" target="_system">
        <ion-button >
          <ion-icon name='call'></ion-icon>
        </ion-button></a>
        <ion-button (click)="alert()">
          <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
        </ion-button>
        <a href="geo:32.861608,13.127123" target="_system">
        <ion-button >
          <ion-icon name='pin'></ion-icon>
        </ion-button></a>
        <a href="/alert-prices">
        <ion-button>
            <ion-icon name='logo-usd'></ion-icon>
          </ion-button></a>
      </ion-buttons></ion-toolbar>
    </ion-card>

    <ion-card>
        <ion-card-title id="name">
            <ion-item >
                <h1>{{providers[3].name}}</h1></ion-item>
                </ion-card-title>
        <ion-card-content>
          <ion-label>Opening hours: </ion-label>
          <ion-label id="opH">{{providers[3].opH}}</ion-label><br>
          <ion-label>Phone Nr.: </ion-label>
          <ion-label id="phone"> {{providers[3].phone}}</ion-label><br>
          <ion-label>Adresse: </ion-label>
          <ion-label id="adr">{{providers[3].adresse}}</ion-label><br>
        </ion-card-content>
        <ion-toolbar end>
        <ion-buttons class='toolbar' right> 
          <a button href="tel:0213614104" target="_system">
          <ion-button >
            <ion-icon name='call'></ion-icon>
          </ion-button></a>
          <ion-button (click)="alert()">
            <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
          </ion-button>
          <a href="geo:32.873122,13.206849" target="_system">
          <ion-button >
            <ion-icon name='pin'></ion-icon>
          </ion-button></a>
          <a href="/alert-prices">
          <ion-button>
              <ion-icon name='logo-usd'></ion-icon>
            </ion-button></a>
        </ion-buttons></ion-toolbar>
      </ion-card>

      <ion-card>
          <ion-card-title id="name">
              <ion-item >
                  <h1>{{providers[4].name}}</h1></ion-item>
                  </ion-card-title>
          <ion-card-content>
            <ion-label>Opening hours: </ion-label>
            <ion-label id="opH">{{providers[4].opH}}</ion-label><br>
            <ion-label>Phone Nr.: </ion-label>
            <ion-label id="phone"> {{providers[4].phone}}</ion-label><br>
            <ion-label>Adresse: </ion-label>
            <ion-label id="adr">{{providers[4].adresse}}</ion-label><br>
          </ion-card-content>
          <ion-toolbar end>
          <ion-buttons class='toolbar' right> 
            <a button href="tel:0911100021" target="_system">
            <ion-button >
              <ion-icon name='call'></ion-icon>
            </ion-button></a>
            <ion-button (click)="alert()">
              <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
            </ion-button>
            <a href="geo:32.874821,13.209193" target="_system">
            <ion-button >
              <ion-icon name='pin'></ion-icon>
            </ion-button></a>
            <a href="/alert-prices">
            <ion-button>
                <ion-icon name='logo-usd'></ion-icon>
              </ion-button></a>
          </ion-buttons></ion-toolbar>
        </ion-card>

        <ion-card>
            <ion-card-title id="name">
                <ion-item >
                    <h1>{{providers[5].name}}</h1></ion-item>
                    </ion-card-title>
            <ion-card-content>
              <ion-label>Opening hours: </ion-label>
              <ion-label id="opH">{{providers[5].opH}}</ion-label><br>
              <ion-label>Phone Nr.: </ion-label>
              <ion-label id="phone"> {{providers[5].phone}}</ion-label><br>
              <ion-label>Adresse: </ion-label>
              <ion-label id="adr">{{providers[5].adresse}}</ion-label><br>
            </ion-card-content>
            <ion-toolbar end>
            <ion-buttons class='toolbar' right> 
              <a button href="tel:0212203764" target="_system">
              <ion-button >
                <ion-icon name='call'></ion-icon>
              </ion-button></a>
              <ion-button (click)="alert()">
                <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
              </ion-button>
              <a href="geo:32.881946,13.211020" target="_system">
              <ion-button  >
                <ion-icon name='pin'></ion-icon>
              </ion-button></a>
              <a href="/alert-prices">
              <ion-button>
                  <ion-icon name='logo-usd'></ion-icon>
                </ion-button></a>
            </ion-buttons></ion-toolbar>
          </ion-card>

          <ion-card>
              <ion-card-title id="name">
                  <ion-item >
                      <h1>{{providers[6].name}}</h1></ion-item>
                      </ion-card-title>
              <ion-card-content>
                <ion-label>Opening hours: </ion-label>
                <ion-label id="opH">{{providers[6].opH}}</ion-label><br>
                <ion-label>Phone Nr.: </ion-label>
                <ion-label id="phone"> {{providers[6].phone}}</ion-label><br>
                <ion-label>Adresse: </ion-label>
                <ion-label id="adr">{{providers[6].adresse}}</ion-label><br>
              </ion-card-content>
              <ion-toolbar end>
              <ion-buttons class='toolbar' right> 
                <a button href="tel:0213601239" target="_system">
                <ion-button >
                  <ion-icon name='call'></ion-icon>
                </ion-button></a>
                <ion-button (click)="alert()">
                  <ion-icon name='calendar' style="color: #006f8e"></ion-icon>
                </ion-button>
                <a href="geo:32.878339,13.200916" target="_system">
                <ion-button  >
                  <ion-icon name='pin'></ion-icon>
                </ion-button></a>
                <a href="/alert-prices">
                <ion-button>
                    <ion-icon name='logo-usd'></ion-icon>
                  </ion-button></a>
              </ion-buttons></ion-toolbar>
            </ion-card>
</ion-content>
