<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)=goBack()>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardList">
    <ion-list inset>
      <ion-list-header style="border-bottom: solid">
        <ion-row style="font-size: 18px"> 
          Service
        </ion-row>
        <ion-row style="font-size: 18px">
          Price LYD
        </ion-row>
      </ion-list-header>
  
      <ion-row *ngFor="let serv of services">
      <ion-col >
       <h6>{{serv.service}}</h6>
    </ion-col>
    <ion-col>
      <div class="listPrice">
            <h6>{{serv.price}}</h6>
         </div>
    </ion-col>
  </ion-row>
    </ion-list>
  </ion-card>
</ion-content>