<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)=goBack()>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardList"> 
    <ion-list>
      <ion-list-header style="border-bottom: solid">
        <ion-row>
          Service
        </ion-row>
        <ion-row>
          Price LYD
        </ion-row>
      </ion-list-header>
      <ion-row>

      </ion-row>
      <ion-row>
        
      </ion-row>
    </ion-list>
  </ion-card>
</ion-content>