<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Health Care Provider
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="btnCity">
  <ion-card id="card">
  <a href="/adresse">
  <ion-button expand="block">
    Tripolis
  </ion-button><br></a>
  <ion-button expand="block" (click)="msg()">Benghazi</ion-button><br>
  <ion-button expand="block" (click)="msg()">Misurata</ion-button><br>
  <ion-button expand="block" (click)="msg()">Sabha</ion-button><br>
  <ion-button expand="block" (click)="msg()">Darna</ion-button><br>
  <ion-button expand="block" (click)="msg()">Sirt</ion-button></ion-card>
</ion-content>
