<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
  <ion-list>
      <ion-avatar>
        <ion-img src="/assets/profilbild.png">
        </ion-img>
      </ion-avatar>
    <ion-row> 
      <ion-label>Name: </ion-label>
      <ion-label id="labels">Hager Magdub</ion-label>
    </ion-row>
     <ion-row>
      <ion-label>Birthdate: </ion-label>
      <ion-label id="labels">1994-03-05</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Gender: </ion-label>
      <ion-label id="labels">female</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Height: </ion-label>
      <ion-label> -</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Weight: </ion-label>
      <ion-label> -</ion-label>
    </ion-row>
    </ion-list>
  </ion-card>
  <ion-card><ion-list>
    <ion-row>
      <ion-card-title> Change password</ion-card-title>
    </ion-row>
    <ion-row>
      <ion-label>Old password: </ion-label>
      <ion-input> </ion-input>
    </ion-row>
    <ion-row>
      <ion-label>New password: </ion-label>
      <ion-input> </ion-input>
    </ion-row>
    <ion-button onclick="resetP()">Save</ion-button>
    </ion-list></ion-card>
</ion-content>