<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card class="welcome-card">
      <ion-img src="/assets/home.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to the Medcare App!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card id="card">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Find the next...</ion-label>
      </ion-list-header>
        <a href='/adresse'><ion-button expand="block">Hospital</ion-button></a> 
        <ion-button expand="block">Pharmacy</ion-button>
        <ion-button expand="block">Doctor's office</ion-button>
        <ion-button expand="block">Emergency reception</ion-button>
    </ion-list></ion-card>
</ion-content>
