.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.content ion-button {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  font-size: 16px;
  height: 40px;
}
.content ion-label {
  font-size: 18px;
}
#card {
  height: 58%;
}
